.App {
  text-align: center;
  background-color:#64748b ;
  width: 450px;
  border-radius: 8px;
  padding: 1.5rem;
}


.main-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
margin-top: 4rem;
}

@media screen and (max-width:680px){
  .App{
width: 300px;
  }
}